@model UserModel


@using Be;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessr
@inject UserManager<Users.UserApp> usermanager
@using BlL;
@using Newtonsoft.Json;
@{
    var prodid = new List<int>();
    if (httpContextAccessr.HttpContext.Session.GetString("basket") != null)
    {
        prodid = JsonConvert.DeserializeObject<List<int>>(httpContextAccessr.HttpContext.Session.GetString("basket"));


    }
    var blc = new productsBll();
    var products = blc.SearchByID(prodid);

    var q = from i in products where i.Id == i.Id select i;
    var b = q.ToList().Count();
}

<!DOCTYPE html>
<html lang="en">

<head>



    @RenderSection("link", required: false);
    <link rel="stylesheet" href="~/bsket/style.css">
    <link rel="stylesheet" href="~/bsket/reset.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="~/vsLayout/css/boot.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/vsLayout/css/owl.carousel.css" rel="stylesheet">
    <link href="~/vsLayout/css/font-awesome.css" rel="stylesheet">
    <link href="~/vsLayout/css/owl.theme.default.css" rel="stylesheet">

    <link href="~/vsLayout/css/NewFolder/style.css" rel="stylesheet" />
    <link href="~/vsLayout/css/responsive.css" rel="stylesheet">
    <link href="~/vsLayout/css/style.css" rel="stylesheet">
    <link href="~/vsLayout/css/style.css.map" rel="stylesheet">
    <link href="~/vsLayout/css/style.scss" rel="stylesheet">


    <style>
        #menuL > ul > li > a {
            color: #CCCECF;
        }

        #menuL > ul > li {
        }

            #menuL > ul > li :hover {
                background-color: #333333;
                color: #CCCECF;
            }
    </style>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .modal-backdrop {
            z-index: 999 !important;
        }
    </style>
    <title>Digishop</title>

</head>

<body>
    <header style=" position: sticky; top: 0; z-index: 1000; height: auto;">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark" dir="rtl" style="margin-top: -10%; height: 70px;">
            <div class="container-fluid">

                <!-- Toggler/collapsibe Button -->

                <div class="custom_menu-btn">
                    <button style="width:46px;" onclick="openNav()" class="navbar-toggler" data-toggle="collapse"
                            data-target="#collapsibleNavbar">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                    </button>
                </div>



                <div class="row">

                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse " id="collapsibleNavbar">
                        <div id="baskets" class="hidden1" hidden>
                            <div id="cd-cart-trigger" style="background-color: black;">

                            </div>
                            <div id="cd-cart" class="speed-in" style=" margin-top: 5.5%; border-radius: 50px; height: auto;">
                                <h2 style="margin-top: -46px; ">Cart</h2>
                                <ul class="cd-cart-items">


                                    @foreach (var i in products)
                                    {
                                        <li>
                                            <span class="cd-qty">1x</span> @i.nameProduct
                                            <div class="cd-price">@i.price</div>
                                            <a href="#0" class="cd-item-remove cd-img-replace">Remove</a>
                                        </li>
                                    }

                                </ul> <!-- cd-cart-items -->

                                <div class="cd-cart-total">
                                    <p>Total <span>$</span></p>
                                </div> <!-- cd-cart-total -->

                                <a href="#0" class="checkout-btn">فاکتور</a>

                                <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
                            </div>

                        </div>
                        <ul class="navbar-nav d-flex flex-row" style="margin-right: 45px;width:77px;flex-wrap: nowrap;margin-top:2px">

                            <li class="nav-item p-1" style="width: 11px; margin-top: 8%;">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var user = await usermanager.FindByNameAsync(User.Identity.Name);

                                    <a class="nav-link dropdown-toggle " data-toggle="dropdown" style="padding: 10px;"><span class="caret"></span>پروفایل</a>
                                    <div class="dropdown">
                                        <div class="dropdown-menu" style=" margin:1.125rem -261px 0px !important;">
                                            <div class="" style="width: 18rem;">
                                                <img class="card-img-top" src="~/image/users/asd.jpg" alt="prof" style="height:auto">
                                                <div class="card-body">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">@user.Firstname @user.Lastname</li>
                                                        <li class="list-group-item">تنظیمات</li>
                                                        <li class="list-group-item"><a href="@Url.Action("Logout","Account")">خروج</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {

                                    <a class="nav-link dropdown-toggle" data-toggle="modal" data-target="#myModal" href="#"
                                       style="padding: 10px;"><span class="caret"></span>ورود</a>

                                    <div class="container">

                                        <!-- Button to Open the Modal -->
                                        <!-- The Modal -->
                                        <div class="modal fade" id="myModal">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content" style=" width: 380px; margin-right: 11%;">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h2 class="modal-title" style=" margin-right: 45%;">ورود</h2>

                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <form asp-action="login" asp-controller="Account" method="post" class="was-validated" dir="rtl">
                                                            <div class="form-group">

                                                                <input type="text" class="form-control" id="uname" placeholder="نام کاربری"
                                                                       asp-for="Username" required>
                                                                <div class="valid-feedback"> </div>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                            <div class="form-group">

                                                                <input type="password" class="form-control" id="pwd" placeholder="رمز عبور"
                                                                       asp-for="Password" required>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                            <div class="form-group form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" name="remember"> من را به خاطر
                                                                    داشته باش

                                                                    <div class="valid-feedback"></div>

                                                                    <div class="invalid-feedback"></div>

                                                                </label>
                                                                <div><a href="@Url.Action("signUp","Account")">ثـبت نام نکردی؟</a></div>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary"
                                                                    style="width: 230px; margin-right: 17%;">
                                                                ورود
                                                            </button>
                                                        </form>
                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                                style="margin-left: 34%; width: 120px">
                                                            بستن
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                }

                            </li>
                            <li class="nav-item p-1" id="basket" style="margin-right: 80px; margin-top: 9%; ">
                                <a class="nav-link" href="#" style="margin-top: -17px; padding: 10px;">
                                    <i style="font-size:24px;color:#CCCECF;margin-top: 15px;" class="fa">&#xf291;</i><span class="badge badge-danger" style="display: inline-table;position: absolute;margin-right: -48px;margin-top: 16px;">@products.Count</span>
                                </a>
                            </li>





                        </ul>
                        <nav style=" position: absolute; margin-right: 15%">
                            <div class="main-menu" style=" margin-right: 18%; background-color: #343a40 !important; box-shadow: none !important; ">
                                <div class="container" style="">
                                    <div class="row">

                                        <div class="col-md-12" id="menuL">
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ReadByTCategory","Products",new {h ="کالای دیجیتال"})">کالای دیجیتال</a>
                                                    <ul class="menuli" style="margin-right:-17%">
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="گوشی موبایل"})">گوشی موبایل</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="تبلت"})">تبلت</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="لپ تاپ"})">لپ تاپ</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="نمایشگر"})">نمایشگر</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="دوربین عکاسی"})">دوربین عکاسی</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="لوازم جانبی رایانه"})">لوازم جانبی رایانه</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="لوازم جانبی موبایل"})">لوازم جانبی موبایل</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="سایر"})">سایر</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menuli"><a href="@Url.Action("ReadByCategory","Products",new {h ="آرایشی و بهداشتی"})">آرایشی و بهداشتی</a></li>
                                                <li>
                                                    <a href="@Url.Action("ReadByCategory","Products",new {h ="مد و پوشاک"})">مد و پوشاک</a>
                                                    <ul class="menuli" style="margin-right:-17%">
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="لباس فصل"})">لباس فصل</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="ساعت  مچی"})">ساعت  مچی</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="بدلیجات"})">بدلیجات</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menuli"><a href="@Url.Action("ReadByCategory","Products",new {h ="خانه و آشپزخانه"})">خانه و آشپزخانه</a></li>
                                                <li class="menuli"><a href="@Url.Action("ReadByCategory","Products",new {h ="ابزار اداری"})">ابزار اداری</a></li>
                                                <li class="menuli"><a href="@Url.Action("ReadByCategory","Products",new {h ="اسباب بازی"})">اسباب بازی</a></li>
                                                <li>
                                                    <a href="@Url.Action("ReadByCategory","Products",new {h ="اخبار"})">اخبار</a>
                                                    <ul class="menuli" style="margin-right:-19%">
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="تکنولوژی"})">تکنولوژی</a></li>
                                                        <li><a href="@Url.Action("ReadByCategory","Products",new {h ="علم و دانش"})">علم و دانش</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>

                    </div>


                </div>
                <!-- Brand -->
                <a class="navbar-brand" id="homebaner" href="@Url.Action("index","Home")" style="margin-right:auto;width:100px">DigiShop</a>
            </div>



        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
    <script src="~/bsket/modernizr.js"></script>
    <script src="~/vsLayout/js/jquery.elevatezoom.js"></script>
    <script src="~/vsLayout/js/js.js"></script>
    <script src="~/vsLayout/js/owl.carousel.min.js"></script>
    <script src="~/vsLayout/js/jquery.simple.timer.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        $(document).ready(function () {

            $("#basket").click(function () {


                var element = document.getElementById("baskets");
                var status = element.getAttribute("class");


                if (status == "hidden1") {

                    $("#baskets").prop('hidden', false);
                    $("#baskets").removeClass("hidden1");


                } else if (status == "") {

                    $("#baskets").prop('hidden', true);
                    $("#baskets").addClass("hidden1");

                }


            });



            $("#cd-cart").hover(function () {


                $("#baskets").prop('hidden', false);
            }, function () {
                $("#baskets").prop('hidden', true);

            });

            $("#basket").hover(function () {
                if ($("#Cprof").attr('hidden', true)) {
                    $("#baskets").prop('hidden', false);
                }
            }, function () {
                $("#baskets").prop('hidden', true);

            });

        });
    </script>
    <script>

        $(document).ready(function () {

            $("#prof").click(function () {

                $("#baskets").prop('hidden', true);

                if ($("#Cprof").attr('hidden', true)) {

                    $("#Cprof").attr('hidden', false);

                } else if ($("#Cprof").attr('hidden', false)) {

                    $("#Cprof").attr('hidden', true);
                }

            });

        });
    </script>

    <script>
        function openNav() {


            document
                .querySelector(".custom_menu-btn")
                .classList.toggle("menu_btn-style");
        }
    </script>
    <style>
        #homebaner {
            background: linear-gradient(#ff2800, #ff2800) no-repeat right;
            background-size: 0 100%;
            transition: background-size 500ms;
        }

            #homebaner:hover {
                background-size: 100% 100%;
                background-position: left;
            }
    </style>

</body>

</html>